---
import type { ImageMetadata } from 'astro';

interface Props {
  title: string;
  description: string;
  hrefLabel?: string;
  link?: {
    url: string;
    text: string;
  };
  image?: ImageMetadata;
}

const { title, description, hrefLabel, link, image } = Astro.props;
---

<Fragment>
  <div class="relative">
    <div class="space-y-4 xl:space-y-[16px] relative z-10">
      <h3 class="text-2xl sm:text-3xl xl:text-[30px] xl:leading-[36px] font-bold tracking-tight dark:text-white">
        {title}
      </h3>
      <p class="text-lg xl:text-[20px] xl:leading-[28px] max-w-[80%]">{description}</p>
      <div class="flex items-start">
        {
          link && (
            <a
              href={link.url}
              class="inline-flex items-center text-blue-600 hover:underline text-lg xl:text-[20px] xl:leading-[28px]"
              target="_blank"
              rel="noopener noreferrer nofollow"
              aria-label={`Learn more about ${hrefLabel} (opens in new tab)`}
            >
              {link.text} →
            </a>
          )
        }
      </div>
    </div>
    {
      image && (
        <div class="absolute top-24 right-0 xs:top-0 md:top-24 xl:top-0 -translate-y-1/4">
          <img
            src={image.src}
            alt={`${title} logo`}
            class="h-24 xs:h-40 md:h-24 xl:h-[160px] w-auto object-contain opacity-90 hover:opacity-100 transition-opacity"
          />
        </div>
      )
    }
  </div>
</Fragment>
