---
import Features5 from '~/components/widgets/Features5.astro';

export const contactInfo = {
  emails: [
    {
      type: 'Primary',
      address: 'andrew.agbaje@uef.fi',
    },
    {
      type: 'Secondary',
      address: 'a.agbaje@exeter.ac.uk',
    },
  ],
  phone: '+358 46 896 5633',
};

const items = [
  ...contactInfo.emails.map((email) => ({
    title: `${email.type} email`,
    description: `<a class="text-blue-700 hover:underline focus:ring-2 focus:ring-blue-500" aria-label="Send email to the email address" href="mailto:${email.address}">${email.address}</a>`,
    icon: 'tabler:mail',
  })),
  {
    title: 'Phone',
    description: `<a class="text-blue-700 hover:underline focus:ring-2 focus:ring-blue-500" aria-label="Make call to the phone number" href="tel:${contactInfo.phone}">${contactInfo.phone}</a>`,
    icon: 'tabler:phone',
  },
];
---

<Features5 id="contact" columns={1} title="Contact Information" items={items}>
  <Fragment slot="image">
    <!-- Ebook Widget *************** -->

    <div
      class="w-full flex justify-center pb-10 xl:pb-[40px] intersect-once intersect-tenth sm:intersect-quarter intercept-no-queue motion-safe:opacity-0 motion-safe:intersect:animate-fade"
    >
      <div class="w-full flex justify-center pb-10 xl:pb-[40px] h-[520px] lg:h-[640px]">
        <iframe
          aria-label="Endocrine News pdf"
          title="Endocrine News pdf"
          src="https://drive.google.com/file/d/1bQ8k7h6MFyqprBfsWbtIimv1ZWOaYQ9h/preview"
          width="100%"
          height="100%"
          allow="autoplay"
          class="max-w-2xl xl:max-w-[672px]"></iframe>
      </div>
    </div>
  </Fragment>
</Features5>
