---
import imageEndocrine from '~/assets/images/principalInvestigator/Andrew Endocrine News.webp';
import Features5 from '~/components/widgets/Features5.astro';
import Spacer from '~/components/widgets/Spacer.astro';

export const contactInfo = {
  emails: [
    {
      type: 'Primary',
      address: 'andrew.agbaje@uef.fi',
    },
    {
      type: 'Secondary',
      address: 'a.agbaje@exeter.ac.uk',
    },
  ],
  phone: '+358 46 896 5633',
};

const items = [
  ...contactInfo.emails.map((email) => ({
    title: `${email.type} email`,
    description: `<a class="text-blue-700 hover:underline focus:ring-2 focus:ring-blue-500" aria-label="Send email to the email address" href="mailto:${email.address}">${email.address}</a>`,
    icon: 'tabler:mail',
  })),
  {
    title: 'Phone',
    description: `<a class="text-blue-700 hover:underline focus:ring-2 focus:ring-blue-500" aria-label="Make call to the phone number" href="tel:${contactInfo.phone}">${contactInfo.phone}</a>`,
    icon: 'tabler:phone',
  },
];
---

<Features5
  id="contact"
  columns={1}
  title="Contact Information"
  items={items}
  image={{
    src: imageEndocrine,
    alt: 'Professor Andrew Agbaje, Principal Investigator of urFIT Research Group',
  }}
/>

<!-- Spacer ******************* -->

<Spacer size="sm" />
