---
import Image from '~/components/common/Image.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import { itemsByYear, sortedYears } from '~/data/infografics';
import { twMerge } from 'tailwind-merge';

interface Props {
  columns?: 1 | 2 | 3 | 4;
  classes?: {
    container?: string;
    item?: string;
    title?: string;
    subtitle?: string;
    description?: string;
  };
}

const { columns = 2, classes = {} } = Astro.props;
// href={item.url ? item.url : item.doi ? `https://doi.org/${item.doi}` : '#'}
---

<WidgetWrapper animated={false} containerClass="py-0 lg:py-0 md:py-0">
  <div class="max-w-7xl mx-auto" role="region" aria-label="Infographics">
    {
      sortedYears.map((year) => (
        <div class="mb-16 sm:mb-24 item-year-card" role="region" aria-label={`Infographics from ${year}`}>
          <h2 class="text-3xl sm:text-4xl font-bold text-gray-900 dark:text-gray-100 mb-8 sm:mb-12 text-center intersect-once intersect-tenth sm:intersect-quarter intercept-no-queue motion-safe:opacity-0 motion-safe:intersect:animate-fade">
            {year}
          </h2>
          <div
            class={twMerge(
              'grid gap-8 gap-x-12 sm:gap-y-8',
              columns === 1 ? 'md:grid-cols-1' : null,
              columns === 2 ? 'md:grid-cols-2' : null,
              columns === 3 ? 'md:grid-cols-3' : null,
              columns === 4 ? 'md:grid-cols-4' : null,
              classes.container
            )}
          >
            {itemsByYear[year].map((item) => (
              <a
                href={item.doi ? `https://doi.org/${item.doi}` : item.url ? item.url : '#'}
                target="_blank"
                rel="noopener noreferrer"
                class={twMerge(
                  'item-card block no-underline hover:no-underline group duration-[1500ms] ease-out focus:outline-none focus:ring-2 focus:ring-primary rounded-lg intersect-once intersect-tenth sm:intersect-quarter intercept-no-queue motion-safe:opacity-0 motion-safe:intersect:animate-fade',
                  classes.item
                )}
                data-type={item.type}
                aria-label={`Visit ${item.title} website`}
                role="listitem"
              >
                <div
                  class={twMerge(
                    'bg-white dark:bg-slate-900 rounded-lg shadow-lg dark:shadow-none p-6 h-full flex flex-col transition-all duration-300 group-hover:shadow-xl dark:group-hover:shadow-none',
                    classes.item
                  )}
                  aria-labelledby={`infographic-${item.title.toLowerCase().replace(/\s+/g, '-')}`}
                >
                  <div class="flex flex-col flex-grow">
                    <div class="text-sm font-medium text-primary-600 dark:text-primary-400 mb-3">
                      {new Date(item.date).toLocaleDateString('en-US', {
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                      })}
                    </div>
                    <h3 class="text-xl font-bold text-gray-900 dark:text-gray-100 mb-4">{item.title}</h3>
                    <div class="relative w-full aspect-video thumbnail-wrapper transition-transform duration-300 ease-out group-hover:scale-[1.01]">
                      <Image
                        src={item.image.src}
                        alt={item.image.alt}
                        class="w-full h-full object-cover rounded-lg"
                        loading="lazy"
                        layout="contained"
                        decoding="async"
                        width={1080}
                        height={737}
                      />
                    </div>
                  </div>

                  <div class="mt-4">
                    <span
                      class="text-sm text-primary inline-flex items-center gap-1 transition-all duration-300 group-hover:gap-2"
                      aria-hidden="true"
                    >
                      Read more
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-4 w-4 transition-transform duration-300 transform group-hover:translate-x-1"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                        role="presentation"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </span>
                  </div>
                </div>
              </a>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</WidgetWrapper>
