---
import { Icon } from 'astro-icon/components';

export interface Props {
  theme?: string;
}

const links = [
  {
    title: 'About',
    links: [
      { text: 'Team', href: '/people/team' },
      { text: 'Collaborators', href: '/people/collaborators' },
      { text: 'Funders', href: '/people/funders' },
      { text: 'Key Articles', href: '/materials/key-articles' },
      { text: 'Thesis', href: '/materials/thesis' },
      { text: 'Publications', href: '/materials/publications' },
      { text: 'Videos and Podcasts', href: '/materials/videos-and-podcasts' },
      { text: 'Infographics', href: '/materials/infografics' },
      { text: 'Press Releases', href: '/materials/press-releases' },
    ],
  },
  {
    title: 'Principal Investigator',
    links: [
      { text: 'About', href: '/people/principal-investigator' },
      { text: 'Academic', href: '/people/principal-investigator#academic' },
      { text: 'Awards and Honours', href: '/people/principal-investigator#awards-and-honours' },
      { text: 'Editorial Board', href: '/people/principal-investigator#editorial' },
      { text: 'Affiliations', href: '/people/principal-investigator#affiliations' },
      { text: 'Memberships', href: '/people/principal-investigator#memberships' },
      { text: 'Contact', href: '/people/principal-investigator#contact' },
    ],
  },
  {
    title: 'Resources',
    links: [
      { text: 'Waist/Height Calculator', href: '/waist-height-calculator' },
      { text: 'Non-academic', href: '/non-academic' },
    ],
  },
];

const socialLinks = [
  {
    ariaLabel: 'UEF',
    icon: 'tabler:school',
    href: 'https://uefconnect.uef.fi/en/group/understanding-fitness-and-cardiometabolic-health-in-little-darlings-urfit-child',
  },
  {
    ariaLabel: 'ResearchGate',
    icon: 'tabler:letter-r',
    href: 'https://www.researchgate.net/profile/Andrew-Agbaje',
  },
  {
    ariaLabel: 'LinkedIn',
    icon: 'tabler:letter-l',
    href: 'https://www.linkedin.com/in/andrew-agbaje-5783b253',
  },
  {
    ariaLabel: 'ORCID',
    icon: 'tabler:id',
    href: 'https://orcid.org/0000-0001-5138-3441',
  },
  {
    ariaLabel: 'PubMed',
    icon: 'tabler:books',
    href: 'https://pubmed.ncbi.nlm.nih.gov/?term=Agbaje+AO&cauthor_id=36214333',
  },
];

const { theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300">
    <div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 pt-8 pb-4 md:pt-12 md:pb-8">
      <div class="col-span-12 lg:col-span-4">
        <div class="mb-2">
          <a class="inline-block font-bold text-xl" href="/">urFIT-child</a>
        </div>
        <div class="text-sm text-muted lg:max-w-[320px]">
          UndeRstanding FITness and Cardiometabolic Health In Little Darlings
        </div>
      </div>
      {
        links.map(({ title, links }) => (
          <div class="col-span-6 md:col-span-3 lg:col-span-2">
            <div class="dark:text-gray-300 font-medium mb-2">{title}</div>
            {links && Array.isArray(links) && (
              <ul class="text-sm">
                {links.map(({ text, href }) => (
                  <li class="mb-2">
                    <a
                      class="text-muted hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
                      href={href}
                    >
                      {text}
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </div>
        ))
      }
    </div>
    <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
      <div class="text-sm mr-4 dark:text-muted">
        {new Date().getFullYear()} urFIT-child Research Group · All rights reserved
      </div>
      {
        socialLinks?.length ? (
          <nav
            aria-label="Social media links"
            class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0 rtl:ml-0 rtl:-mr-2 rtl:md:ml-0 rtl:md:mr-4"
          >
            {socialLinks.map(({ ariaLabel, href, icon }) => (
              <div class="group relative">
                <a
                  class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                  aria-label={ariaLabel}
                  href={href}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {icon && <Icon name={icon} class="w-5 h-5" />}
                </a>
                <span class="absolute -top-10 left-1/2 -translate-x-1/2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-sm text-white opacity-0 transition-opacity delay-500 group-hover:opacity-100 dark:bg-gray-200 dark:text-gray-800">
                  {ariaLabel}
                </span>
              </div>
            ))}
          </nav>
        ) : (
          ''
        )
      }
    </div>
  </div>
</footer>
