---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<div class={`signature-container ${className}`}>
  <svg width="90.903" height="14.658" viewBox="0 0 90.903 14.658" xmlns="http://www.w3.org/2000/svg">
    <g
      id="svgGroup"
      stroke-linecap="round"
      fill-rule="evenodd"
      font-size="9pt"
      stroke="#000"
      stroke-width="0.25mm"
      fill="none"
      style="stroke:#000;stroke-width:0.25mm;fill:none"
    >
      <path
        d="M 6.777 5.166 L 7.029 3.052 A 17.306 17.306 0 0 0 6.071 2.982 A 13.848 13.848 0 0 0 5.461 2.968 A 16.344 16.344 0 0 0 4.552 2.992 Q 3.588 3.046 2.956 3.223 A 3.352 3.352 0 0 0 2.591 3.346 A 1.93 1.93 0 0 0 2.155 3.589 Q 1.667 3.958 1.667 4.578 Q 1.667 4.998 1.947 5.488 A 0.578 0.578 0 0 1 2.024 5.694 A 0.549 0.549 0 0 1 2.031 5.782 A 0.568 0.568 0 0 1 1.908 6.133 Q 1.847 6.213 1.757 6.286 A 1.192 1.192 0 0 1 1.73 6.307 A 1.133 1.133 0 0 1 1.398 6.487 A 1.003 1.003 0 0 1 1.079 6.538 A 0.84 0.84 0 0 1 0.756 6.478 Q 0.537 6.388 0.393 6.16 Q 0.001 5.516 0.001 4.662 A 2.77 2.77 0 0 1 1.71 2.016 Q 3.171 1.302 5.881 1.302 A 14.869 14.869 0 0 1 7.451 1.381 A 10.836 10.836 0 0 1 8.933 1.638 A 1.779 1.779 0 0 1 9.254 1.747 Q 9.42 1.824 9.528 1.929 A 0.659 0.659 0 0 1 9.731 2.422 A 1.61 1.61 0 0 1 9.716 2.653 Q 9.679 2.905 9.556 3.052 Q 9.411 3.226 9.117 3.256 A 1.271 1.271 0 0 1 8.989 3.262 Q 8.961 3.556 8.863 4.284 Q 8.731 5.209 8.711 5.361 A 2.637 2.637 0 0 0 8.709 5.376 Q 7.463 14.658 3.515 14.658 Q 2.478 14.658 1.848 14.134 A 2.044 2.044 0 0 1 1.702 14 A 2.228 2.228 0 0 1 1.054 12.471 A 2.943 2.943 0 0 1 1.051 12.348 A 3.929 3.929 0 0 1 2.03 9.754 A 5.595 5.595 0 0 1 2.563 9.205 A 9.879 9.879 0 0 1 4.282 7.975 Q 5.288 7.399 6.539 6.944 Q 6.672 6.09 6.752 5.391 A 27.874 27.874 0 0 0 6.777 5.166 Z M 3.697 13.16 A 1.053 1.053 0 0 0 4.244 12.996 Q 4.657 12.747 5.069 12.124 Q 5.621 11.292 6.063 9.456 A 25.036 25.036 0 0 0 6.273 8.498 A 10.725 10.725 0 0 0 4.901 9.212 Q 2.857 10.488 2.857 12.166 A 1.624 1.624 0 0 0 2.881 12.452 Q 2.909 12.61 2.971 12.734 A 0.793 0.793 0 0 0 3.081 12.901 A 0.734 0.734 0 0 0 3.556 13.151 A 1.056 1.056 0 0 0 3.697 13.16 Z"
        id="0"
        vector-effect="non-scaling-stroke"></path>
      <path
        d="M 10.052 12.818 A 1.156 1.156 0 0 0 10.949 13.23 Q 11.495 13.23 11.971 12.719 A 2.279 2.279 0 0 0 12.208 12.415 Q 12.369 12.171 12.494 11.859 A 4.691 4.691 0 0 0 12.685 11.256 A 4.627 4.627 0 0 0 12.709 11.743 Q 12.772 12.338 13 12.712 A 1.015 1.015 0 0 0 13.585 13.174 A 1.37 1.37 0 0 0 13.987 13.23 Q 14.869 13.23 15.562 12.754 A 5.551 5.551 0 0 0 16.11 12.324 A 6.715 6.715 0 0 0 16.857 11.536 Q 17.123 11.228 17.123 10.668 A 1.411 1.411 0 0 0 17.117 10.535 Q 17.109 10.444 17.087 10.367 A 0.613 0.613 0 0 0 17.018 10.206 A 0.443 0.443 0 0 0 16.976 10.149 A 0.312 0.312 0 0 0 16.731 10.038 A 0.439 0.439 0 0 0 16.471 10.125 A 0.667 0.667 0 0 0 16.353 10.234 A 23.572 23.572 0 0 1 16.144 10.482 Q 15.813 10.866 15.561 11.121 A 5.232 5.232 0 0 1 15.324 11.347 Q 15.072 11.572 14.864 11.65 A 0.587 0.587 0 0 1 14.659 11.69 Q 14.558 11.69 14.479 11.645 A 0.379 0.379 0 0 1 14.365 11.543 Q 14.288 11.442 14.264 11.285 A 1.024 1.024 0 0 1 14.253 11.13 Q 14.253 10.789 14.512 9.542 A 59.684 59.684 0 0 1 14.645 8.918 Q 14.93 7.644 14.983 7.174 A 1.621 1.621 0 0 0 14.995 7 A 0.607 0.607 0 0 0 14.993 6.94 Q 14.976 6.779 14.869 6.713 A 0.353 0.353 0 0 0 14.801 6.682 Q 14.712 6.651 14.57 6.641 A 2.124 2.124 0 0 0 14.421 6.636 Q 14.145 6.636 13.952 6.701 A 0.735 0.735 0 0 0 13.728 6.818 A 0.752 0.752 0 0 0 13.588 6.966 Q 13.52 7.058 13.467 7.181 A 1.727 1.727 0 0 0 13.385 7.42 Q 13.175 8.199 12.957 8.825 A 12.371 12.371 0 0 1 12.692 9.52 Q 12.447 10.107 12.221 10.489 A 3.344 3.344 0 0 1 12.02 10.794 Q 11.705 11.214 11.495 11.214 A 0.34 0.34 0 0 1 11.436 11.209 A 0.229 0.229 0 0 1 11.271 11.095 A 0.34 0.34 0 0 1 11.244 11.033 Q 11.215 10.95 11.206 10.818 A 1.959 1.959 0 0 1 11.201 10.682 Q 11.201 10.192 11.481 8.722 Q 11.525 8.506 11.583 8.263 A 17.361 17.361 0 0 1 11.705 7.784 A 27.851 27.851 0 0 0 11.747 7.608 Q 11.835 7.23 11.854 7.089 A 0.486 0.486 0 0 0 11.859 7.028 Q 11.859 6.959 11.845 6.903 A 0.313 0.313 0 0 0 11.74 6.734 Q 11.621 6.636 11.313 6.636 A 3.045 3.045 0 0 0 11.218 6.638 Q 10.923 6.647 10.723 6.715 A 0.78 0.78 0 0 0 10.515 6.818 Q 10.346 6.941 10.227 7.17 A 1.748 1.748 0 0 0 10.123 7.42 A 13.842 13.842 0 0 0 9.892 8.199 A 11.013 11.013 0 0 0 9.661 9.275 A 10.6 10.6 0 0 0 9.565 10.083 Q 9.522 10.607 9.521 11.184 A 15.991 15.991 0 0 0 9.521 11.2 Q 9.521 12.068 9.92 12.649 A 1.709 1.709 0 0 0 10.052 12.818 Z"
        id="1"
        vector-effect="non-scaling-stroke"></path>
      <path
        d="M 16.073 11.13 L 16.087 10.01 A 23.362 23.362 0 0 1 16.335 6.674 A 27.203 27.203 0 0 1 16.528 5.516 A 17.32 17.32 0 0 1 16.956 3.74 Q 17.228 2.835 17.584 2.077 A 9.528 9.528 0 0 1 17.83 1.589 A 4.768 4.768 0 0 1 18.282 0.894 Q 18.992 0 19.895 0 A 1.202 1.202 0 0 1 20.821 0.409 A 1.626 1.626 0 0 1 20.938 0.553 Q 21.337 1.106 21.337 1.988 A 5.403 5.403 0 0 1 21.061 3.658 A 7.462 7.462 0 0 1 20.511 4.921 Q 19.956 5.942 18.934 7.193 A 29.758 29.758 0 0 1 17.823 8.47 A 25.984 25.984 0 0 0 17.781 9.944 A 28.913 28.913 0 0 0 17.781 9.968 Q 18.243 8.778 18.81 8.029 A 5.891 5.891 0 0 1 19.199 7.565 Q 19.567 7.17 19.93 6.958 A 2.903 2.903 0 0 1 20.3 6.775 Q 20.508 6.69 20.703 6.657 A 1.447 1.447 0 0 1 20.945 6.636 A 1.31 1.31 0 0 1 21.305 6.681 Q 21.709 6.797 21.817 7.209 A 1.341 1.341 0 0 1 21.855 7.546 A 3.304 3.304 0 0 1 21.837 7.862 Q 21.781 8.438 21.547 9.52 A 29.297 29.297 0 0 0 21.444 10.014 Q 21.311 10.679 21.287 11.004 A 1.744 1.744 0 0 0 21.281 11.13 Q 21.281 11.678 21.669 11.69 A 0.569 0.569 0 0 0 21.687 11.69 A 0.587 0.587 0 0 0 21.892 11.65 Q 22.1 11.572 22.352 11.347 A 5.232 5.232 0 0 0 22.589 11.121 Q 22.841 10.866 23.172 10.482 A 23.572 23.572 0 0 0 23.381 10.234 A 0.667 0.667 0 0 1 23.499 10.125 A 0.439 0.439 0 0 1 23.759 10.038 A 0.312 0.312 0 0 1 24.004 10.149 A 0.443 0.443 0 0 1 24.046 10.206 A 0.613 0.613 0 0 1 24.115 10.367 Q 24.137 10.444 24.145 10.535 A 1.411 1.411 0 0 1 24.151 10.668 Q 24.151 11.228 23.885 11.536 A 8.336 8.336 0 0 1 23.191 12.25 A 6.455 6.455 0 0 1 22.562 12.754 Q 21.883 13.23 21.015 13.23 A 1.964 1.964 0 0 1 20.594 13.188 Q 20.325 13.129 20.127 12.988 A 1.101 1.101 0 0 1 19.937 12.817 Q 19.573 12.404 19.573 11.62 A 2.638 2.638 0 0 1 19.585 11.394 Q 19.621 10.984 19.769 10.22 A 18.918 18.918 0 0 0 19.845 9.837 Q 19.944 9.301 19.951 9.041 A 1.416 1.416 0 0 0 19.951 9.002 A 0.482 0.482 0 0 0 19.946 8.923 Q 19.922 8.783 19.806 8.778 A 0.203 0.203 0 0 0 19.797 8.778 A 0.221 0.221 0 0 0 19.693 8.809 Q 19.529 8.899 19.279 9.247 A 4.793 4.793 0 0 0 19.027 9.641 Q 18.817 10.005 18.607 10.486 Q 18.271 11.256 18.061 12.11 A 1.939 1.939 0 0 1 17.876 12.607 Q 17.572 13.152 16.934 13.221 A 1.778 1.778 0 0 1 16.745 13.23 Q 16.476 13.23 16.325 13.106 A 0.47 0.47 0 0 1 16.192 12.929 Q 16.064 12.638 16.06 11.896 A 8.968 8.968 0 0 1 16.059 11.844 Q 16.059 11.501 16.068 11.265 A 7.574 7.574 0 0 1 16.073 11.13 Z M 19.115 1.943 A 4.508 4.508 0 0 0 19.041 2.107 A 7.348 7.348 0 0 0 18.851 2.607 Q 18.65 3.192 18.459 3.999 A 23.035 23.035 0 0 0 18.446 4.053 Q 18.159 5.278 17.977 6.72 Q 18.845 5.698 19.412 4.494 Q 19.863 3.537 19.956 2.722 A 3.652 3.652 0 0 0 19.979 2.31 A 3.302 3.302 0 0 0 19.971 2.063 Q 19.952 1.82 19.895 1.661 A 0.831 0.831 0 0 0 19.881 1.624 Q 19.783 1.386 19.601 1.386 Q 19.38 1.386 19.115 1.943 Z"
        id="2"
        vector-effect="non-scaling-stroke"></path>
      <path
        d="M 24.081 13.122 A 1.929 1.929 0 0 0 24.739 13.23 A 1.893 1.893 0 0 0 26.109 12.648 A 3.171 3.171 0 0 0 26.573 12.054 A 2.334 2.334 0 0 0 26.716 12.377 A 1.78 1.78 0 0 0 27.154 12.915 A 1.638 1.638 0 0 0 27.215 12.963 A 1.291 1.291 0 0 0 28.001 13.23 A 1.54 1.54 0 0 0 28.288 13.203 Q 28.755 13.115 29.247 12.74 A 6.298 6.298 0 0 0 29.721 12.341 A 7.572 7.572 0 0 0 30.465 11.536 Q 30.731 11.228 30.731 10.668 A 1.411 1.411 0 0 0 30.725 10.535 Q 30.717 10.444 30.695 10.367 A 0.613 0.613 0 0 0 30.626 10.206 A 0.443 0.443 0 0 0 30.584 10.149 A 0.312 0.312 0 0 0 30.339 10.038 A 0.439 0.439 0 0 0 30.079 10.125 A 0.667 0.667 0 0 0 29.961 10.234 A 25.785 25.785 0 0 1 29.606 10.477 Q 29.283 10.856 29.036 11.111 A 5.968 5.968 0 0 1 28.803 11.34 Q 28.544 11.581 28.343 11.656 A 0.485 0.485 0 0 1 28.173 11.69 A 0.558 0.558 0 0 1 28.098 11.685 Q 27.986 11.67 27.906 11.607 A 0.41 0.41 0 0 1 27.795 11.466 Q 27.717 11.309 27.693 11.054 A 2.545 2.545 0 0 1 27.683 10.822 A 2.525 2.525 0 0 1 27.69 10.654 Q 27.73 10.065 28.019 8.736 Q 28.029 7.736 28.074 7.305 A 1.936 1.936 0 0 0 28.085 7.112 A 0.601 0.601 0 0 0 28.084 7.078 Q 28.064 6.726 27.623 6.654 A 1.584 1.584 0 0 0 27.371 6.636 A 2.411 2.411 0 0 0 27.313 6.637 Q 27.056 6.643 26.883 6.705 A 0.632 0.632 0 0 0 26.699 6.804 A 0.567 0.567 0 0 0 26.661 6.838 Q 26.478 7.014 26.363 7.42 A 13.541 13.541 0 0 0 26.187 8.079 A 16.12 16.12 0 0 0 25.95 9.261 A 16.264 16.264 0 0 0 25.862 9.871 Q 25.827 10.156 25.808 10.403 A 6.52 6.52 0 0 0 25.789 10.878 A 4.956 4.956 0 0 0 25.801 11.229 Q 25.86 12.052 26.202 12.586 A 1.326 1.326 0 0 0 24.081 13.122 Z M 26.237 10.486 L 26.755 7.91 A 1.639 1.639 0 0 0 25.844 8.217 A 2.137 2.137 0 0 0 25.67 8.351 A 2.759 2.759 0 0 0 25.094 9.048 A 3.537 3.537 0 0 0 24.879 9.478 Q 24.585 10.178 24.585 10.962 A 1.726 1.726 0 0 0 24.599 11.189 Q 24.634 11.453 24.758 11.604 A 0.523 0.523 0 0 0 24.76 11.606 Q 24.935 11.816 25.243 11.816 A 0.563 0.563 0 0 0 25.54 11.728 Q 25.689 11.637 25.831 11.452 Q 26.111 11.088 26.237 10.486 Z"
        id="3"
        vector-effect="non-scaling-stroke"></path>
      <path
        d="M 30.231 13.149 A 0.771 0.771 0 0 0 30.591 13.23 A 1.428 1.428 0 0 0 30.729 13.224 Q 31.059 13.192 31.228 12.999 A 0.821 0.821 0 0 0 31.319 12.87 Q 31.419 12.699 31.505 12.413 A 4.987 4.987 0 0 0 31.585 12.11 Q 31.795 11.256 32.138 10.486 Q 32.353 10.005 32.562 9.641 A 5.183 5.183 0 0 1 32.81 9.247 A 3.738 3.738 0 0 1 32.894 9.133 Q 33.083 8.883 33.218 8.809 A 0.218 0.218 0 0 1 33.321 8.778 A 0.203 0.203 0 0 1 33.33 8.778 Q 33.446 8.783 33.47 8.923 A 0.482 0.482 0 0 1 33.475 9.002 A 1.416 1.416 0 0 1 33.475 9.041 Q 33.468 9.301 33.369 9.837 A 18.918 18.918 0 0 1 33.293 10.22 Q 33.145 10.984 33.109 11.394 A 2.638 2.638 0 0 0 33.097 11.62 Q 33.097 12.404 33.461 12.817 A 1.101 1.101 0 0 0 33.651 12.988 Q 33.849 13.129 34.118 13.188 A 1.964 1.964 0 0 0 34.539 13.23 Q 35.421 13.23 36.114 12.754 A 5.551 5.551 0 0 0 36.662 12.324 A 6.715 6.715 0 0 0 37.409 11.536 Q 37.675 11.228 37.675 10.668 A 1.411 1.411 0 0 0 37.669 10.535 Q 37.661 10.444 37.639 10.367 A 0.613 0.613 0 0 0 37.57 10.206 A 0.443 0.443 0 0 0 37.528 10.149 A 0.312 0.312 0 0 0 37.283 10.038 A 0.439 0.439 0 0 0 37.023 10.125 A 0.667 0.667 0 0 0 36.905 10.234 A 23.572 23.572 0 0 1 36.696 10.482 Q 36.365 10.866 36.113 11.121 A 5.232 5.232 0 0 1 35.876 11.347 Q 35.624 11.572 35.416 11.65 A 0.587 0.587 0 0 1 35.211 11.69 A 0.569 0.569 0 0 1 35.193 11.69 Q 34.805 11.678 34.805 11.13 A 1.744 1.744 0 0 1 34.811 11.004 Q 34.835 10.679 34.968 10.014 A 29.297 29.297 0 0 1 35.071 9.52 Q 35.305 8.438 35.361 7.862 A 3.304 3.304 0 0 0 35.379 7.546 A 1.341 1.341 0 0 0 35.341 7.209 Q 35.233 6.797 34.829 6.681 A 1.31 1.31 0 0 0 34.469 6.636 A 1.447 1.447 0 0 0 34.227 6.657 Q 34.032 6.69 33.824 6.775 A 2.903 2.903 0 0 0 33.454 6.958 A 2.657 2.657 0 0 0 33.129 7.184 Q 32.926 7.347 32.72 7.568 A 6.014 6.014 0 0 0 32.327 8.036 A 5.5 5.5 0 0 0 32.097 8.365 Q 31.659 9.039 31.291 9.996 A 14.433 14.433 0 0 1 31.329 9.63 Q 31.374 9.249 31.431 8.96 Q 31.515 8.54 31.655 7.98 A 18.383 18.383 0 0 0 31.726 7.709 Q 31.828 7.303 31.855 7.097 A 0.985 0.985 0 0 0 31.865 6.972 A 0.574 0.574 0 0 0 31.862 6.904 Q 31.856 6.854 31.84 6.815 A 0.216 0.216 0 0 0 31.753 6.706 Q 31.641 6.636 31.361 6.636 Q 31.054 6.636 30.828 6.703 A 1.008 1.008 0 0 0 30.556 6.825 A 0.931 0.931 0 0 0 30.261 7.146 A 1.356 1.356 0 0 0 30.143 7.42 A 10.772 10.772 0 0 0 30.066 7.677 A 11.472 11.472 0 0 0 29.625 10.878 A 12 12 0 0 0 29.633 11.306 Q 29.654 11.9 29.737 12.302 A 2.353 2.353 0 0 0 29.842 12.67 A 1.184 1.184 0 0 0 29.946 12.879 Q 30.062 13.061 30.231 13.149 Z"
        id="4"
        vector-effect="non-scaling-stroke"></path>
      <path
        d="M 37.743 13.167 A 2.017 2.017 0 0 0 38.263 13.23 Q 39.467 13.23 40.853 11.536 Q 41.119 11.228 41.119 10.668 A 1.411 1.411 0 0 0 41.113 10.535 Q 41.105 10.444 41.083 10.367 A 0.613 0.613 0 0 0 41.014 10.206 A 0.443 0.443 0 0 0 40.972 10.149 A 0.312 0.312 0 0 0 40.727 10.038 A 0.439 0.439 0 0 0 40.467 10.125 A 0.667 0.667 0 0 0 40.349 10.234 A 25.785 25.785 0 0 1 40.144 10.477 Q 39.821 10.856 39.574 11.111 A 5.968 5.968 0 0 1 39.341 11.34 Q 39.082 11.581 38.881 11.656 A 0.485 0.485 0 0 1 38.711 11.69 A 0.558 0.558 0 0 1 38.636 11.685 Q 38.524 11.67 38.444 11.607 A 0.41 0.41 0 0 1 38.333 11.466 Q 38.255 11.309 38.231 11.054 A 2.545 2.545 0 0 1 38.221 10.822 A 2.525 2.525 0 0 1 38.228 10.654 Q 38.268 10.065 38.557 8.736 Q 38.766 7.736 38.811 7.305 A 1.936 1.936 0 0 0 38.823 7.112 A 0.601 0.601 0 0 0 38.822 7.078 Q 38.802 6.726 38.361 6.654 A 1.584 1.584 0 0 0 38.109 6.636 A 2.411 2.411 0 0 0 38.051 6.637 Q 37.794 6.643 37.621 6.705 A 0.632 0.632 0 0 0 37.437 6.804 A 0.567 0.567 0 0 0 37.399 6.838 Q 37.216 7.014 37.101 7.42 A 13.541 13.541 0 0 0 36.925 8.079 A 16.12 16.12 0 0 0 36.688 9.261 A 16.264 16.264 0 0 0 36.6 9.871 Q 36.565 10.156 36.546 10.403 A 6.52 6.52 0 0 0 36.527 10.878 A 4.956 4.956 0 0 0 36.539 11.229 Q 36.598 12.052 36.94 12.586 A 1.326 1.326 0 0 0 37.743 13.167 Z M 37.493 5.439 A 0.882 0.882 0 0 0 37.741 5.599 Q 37.997 5.712 38.375 5.712 A 1.811 1.811 0 0 0 38.765 5.672 A 1.239 1.239 0 0 0 39.341 5.383 A 1.058 1.058 0 0 0 39.652 4.889 A 1.389 1.389 0 0 0 39.705 4.494 A 1.196 1.196 0 0 0 39.698 4.355 A 0.82 0.82 0 0 0 39.383 3.78 Q 39.061 3.528 38.543 3.528 A 1.819 1.819 0 0 0 38.317 3.542 A 1.361 1.361 0 0 0 37.584 3.857 A 1.32 1.32 0 0 0 37.527 3.91 A 1.024 1.024 0 0 0 37.199 4.676 A 1.34 1.34 0 0 0 37.228 4.961 A 0.893 0.893 0 0 0 37.493 5.439 Z"
        id="5"
        vector-effect="non-scaling-stroke"></path>
      <path
        d="M 50.793 5.166 L 51.045 3.052 A 17.306 17.306 0 0 0 50.087 2.982 A 13.848 13.848 0 0 0 49.477 2.968 A 16.344 16.344 0 0 0 48.568 2.992 Q 47.604 3.046 46.972 3.223 A 3.352 3.352 0 0 0 46.607 3.346 A 1.93 1.93 0 0 0 46.171 3.589 Q 45.683 3.958 45.683 4.578 Q 45.683 4.998 45.963 5.488 A 0.578 0.578 0 0 1 46.04 5.694 A 0.549 0.549 0 0 1 46.047 5.782 A 0.568 0.568 0 0 1 45.924 6.133 Q 45.863 6.213 45.773 6.286 A 1.192 1.192 0 0 1 45.746 6.307 A 1.133 1.133 0 0 1 45.414 6.487 A 1.003 1.003 0 0 1 45.095 6.538 A 0.84 0.84 0 0 1 44.772 6.478 Q 44.553 6.388 44.409 6.16 Q 44.017 5.516 44.017 4.662 A 2.77 2.77 0 0 1 45.726 2.016 Q 47.187 1.302 49.897 1.302 A 14.869 14.869 0 0 1 51.467 1.381 A 10.836 10.836 0 0 1 52.949 1.638 A 1.779 1.779 0 0 1 53.27 1.747 Q 53.436 1.824 53.544 1.929 A 0.659 0.659 0 0 1 53.747 2.422 A 1.61 1.61 0 0 1 53.732 2.653 Q 53.695 2.905 53.572 3.052 Q 53.427 3.226 53.133 3.256 A 1.271 1.271 0 0 1 53.005 3.262 Q 52.977 3.556 52.879 4.284 Q 52.747 5.209 52.727 5.361 A 2.637 2.637 0 0 0 52.725 5.376 Q 51.479 14.658 47.531 14.658 Q 46.494 14.658 45.864 14.134 A 2.044 2.044 0 0 1 45.718 14 A 2.228 2.228 0 0 1 45.07 12.471 A 2.943 2.943 0 0 1 45.067 12.348 A 3.929 3.929 0 0 1 46.046 9.754 A 5.595 5.595 0 0 1 46.579 9.205 A 9.879 9.879 0 0 1 48.298 7.975 Q 49.304 7.399 50.555 6.944 Q 50.688 6.09 50.768 5.391 A 27.874 27.874 0 0 0 50.793 5.166 Z M 47.713 13.16 A 1.053 1.053 0 0 0 48.26 12.996 Q 48.673 12.747 49.085 12.124 Q 49.637 11.292 50.079 9.456 A 25.036 25.036 0 0 0 50.289 8.498 A 10.725 10.725 0 0 0 48.917 9.212 Q 46.873 10.488 46.873 12.166 A 1.624 1.624 0 0 0 46.897 12.452 Q 46.925 12.61 46.987 12.734 A 0.793 0.793 0 0 0 47.097 12.901 A 0.734 0.734 0 0 0 47.572 13.151 A 1.056 1.056 0 0 0 47.713 13.16 Z"
        id="7"
        vector-effect="non-scaling-stroke"></path>
      <path
        d="M 54.068 12.818 A 1.156 1.156 0 0 0 54.965 13.23 Q 55.511 13.23 55.987 12.719 A 2.279 2.279 0 0 0 56.224 12.415 Q 56.385 12.171 56.51 11.859 A 4.691 4.691 0 0 0 56.701 11.256 A 4.627 4.627 0 0 0 56.725 11.743 Q 56.788 12.338 57.016 12.712 A 1.015 1.015 0 0 0 57.601 13.174 A 1.37 1.37 0 0 0 58.003 13.23 Q 58.885 13.23 59.578 12.754 A 5.551 5.551 0 0 0 60.126 12.324 A 6.715 6.715 0 0 0 60.873 11.536 Q 61.139 11.228 61.139 10.668 A 1.411 1.411 0 0 0 61.133 10.535 Q 61.125 10.444 61.103 10.367 A 0.613 0.613 0 0 0 61.034 10.206 A 0.443 0.443 0 0 0 60.992 10.149 A 0.312 0.312 0 0 0 60.747 10.038 A 0.439 0.439 0 0 0 60.487 10.125 A 0.667 0.667 0 0 0 60.369 10.234 A 23.572 23.572 0 0 1 60.16 10.482 Q 59.829 10.866 59.577 11.121 A 5.232 5.232 0 0 1 59.34 11.347 Q 59.088 11.572 58.88 11.65 A 0.587 0.587 0 0 1 58.675 11.69 Q 58.574 11.69 58.495 11.645 A 0.379 0.379 0 0 1 58.381 11.543 Q 58.304 11.442 58.28 11.285 A 1.024 1.024 0 0 1 58.269 11.13 Q 58.269 10.789 58.528 9.542 A 59.684 59.684 0 0 1 58.661 8.918 Q 58.946 7.644 58.999 7.174 A 1.621 1.621 0 0 0 59.011 7 A 0.607 0.607 0 0 0 59.009 6.94 Q 58.992 6.779 58.885 6.713 A 0.353 0.353 0 0 0 58.817 6.682 Q 58.728 6.651 58.586 6.641 A 2.124 2.124 0 0 0 58.437 6.636 Q 58.161 6.636 57.968 6.701 A 0.735 0.735 0 0 0 57.744 6.818 A 0.752 0.752 0 0 0 57.604 6.966 Q 57.536 7.058 57.483 7.181 A 1.727 1.727 0 0 0 57.401 7.42 Q 57.191 8.199 56.973 8.825 A 12.371 12.371 0 0 1 56.708 9.52 Q 56.463 10.107 56.237 10.489 A 3.344 3.344 0 0 1 56.036 10.794 Q 55.721 11.214 55.511 11.214 A 0.34 0.34 0 0 1 55.452 11.209 A 0.229 0.229 0 0 1 55.287 11.095 A 0.34 0.34 0 0 1 55.26 11.033 Q 55.231 10.95 55.222 10.818 A 1.959 1.959 0 0 1 55.217 10.682 Q 55.217 10.192 55.497 8.722 Q 55.541 8.506 55.599 8.263 A 17.361 17.361 0 0 1 55.721 7.784 A 27.851 27.851 0 0 0 55.763 7.608 Q 55.851 7.23 55.87 7.089 A 0.486 0.486 0 0 0 55.875 7.028 Q 55.875 6.959 55.861 6.903 A 0.313 0.313 0 0 0 55.756 6.734 Q 55.637 6.636 55.329 6.636 A 3.045 3.045 0 0 0 55.234 6.638 Q 54.939 6.647 54.739 6.715 A 0.78 0.78 0 0 0 54.531 6.818 Q 54.362 6.941 54.243 7.17 A 1.748 1.748 0 0 0 54.139 7.42 A 13.842 13.842 0 0 0 53.908 8.199 A 11.013 11.013 0 0 0 53.677 9.275 A 10.6 10.6 0 0 0 53.581 10.083 Q 53.538 10.607 53.537 11.184 A 15.991 15.991 0 0 0 53.537 11.2 Q 53.537 12.068 53.936 12.649 A 1.709 1.709 0 0 0 54.068 12.818 Z"
        id="8"
        vector-effect="non-scaling-stroke"></path>
      <path
        d="M 60.536 12.818 A 1.156 1.156 0 0 0 61.433 13.23 Q 61.979 13.23 62.455 12.719 A 2.279 2.279 0 0 0 62.692 12.415 Q 62.853 12.171 62.978 11.859 A 4.691 4.691 0 0 0 63.169 11.256 A 4.627 4.627 0 0 0 63.193 11.743 Q 63.256 12.338 63.484 12.712 A 1.015 1.015 0 0 0 64.069 13.174 A 1.37 1.37 0 0 0 64.471 13.23 Q 65.353 13.23 66.046 12.754 A 5.551 5.551 0 0 0 66.594 12.324 A 6.715 6.715 0 0 0 67.341 11.536 Q 67.607 11.228 67.607 10.668 A 1.411 1.411 0 0 0 67.601 10.535 Q 67.593 10.444 67.571 10.367 A 0.613 0.613 0 0 0 67.502 10.206 A 0.443 0.443 0 0 0 67.46 10.149 A 0.312 0.312 0 0 0 67.215 10.038 A 0.439 0.439 0 0 0 66.955 10.125 A 0.667 0.667 0 0 0 66.837 10.234 A 23.572 23.572 0 0 1 66.628 10.482 Q 66.297 10.866 66.045 11.121 A 5.232 5.232 0 0 1 65.808 11.347 Q 65.556 11.572 65.348 11.65 A 0.587 0.587 0 0 1 65.143 11.69 Q 65.042 11.69 64.963 11.645 A 0.379 0.379 0 0 1 64.849 11.543 Q 64.772 11.442 64.748 11.285 A 1.024 1.024 0 0 1 64.737 11.13 Q 64.737 10.789 64.996 9.542 A 59.684 59.684 0 0 1 65.129 8.918 Q 65.414 7.644 65.467 7.174 A 1.621 1.621 0 0 0 65.479 7 A 0.607 0.607 0 0 0 65.477 6.94 Q 65.46 6.779 65.353 6.713 A 0.353 0.353 0 0 0 65.285 6.682 Q 65.196 6.651 65.054 6.641 A 2.124 2.124 0 0 0 64.905 6.636 Q 64.629 6.636 64.436 6.701 A 0.735 0.735 0 0 0 64.212 6.818 A 0.752 0.752 0 0 0 64.072 6.966 Q 64.004 7.058 63.951 7.181 A 1.727 1.727 0 0 0 63.869 7.42 Q 63.659 8.199 63.441 8.825 A 12.371 12.371 0 0 1 63.176 9.52 Q 62.931 10.107 62.705 10.489 A 3.344 3.344 0 0 1 62.504 10.794 Q 62.189 11.214 61.979 11.214 A 0.34 0.34 0 0 1 61.92 11.209 A 0.229 0.229 0 0 1 61.755 11.095 A 0.34 0.34 0 0 1 61.728 11.033 Q 61.699 10.95 61.69 10.818 A 1.959 1.959 0 0 1 61.685 10.682 Q 61.685 10.192 61.965 8.722 Q 62.009 8.506 62.067 8.263 A 17.361 17.361 0 0 1 62.189 7.784 A 27.851 27.851 0 0 0 62.231 7.608 Q 62.319 7.23 62.338 7.089 A 0.486 0.486 0 0 0 62.343 7.028 Q 62.343 6.959 62.329 6.903 A 0.313 0.313 0 0 0 62.224 6.734 Q 62.105 6.636 61.797 6.636 A 3.045 3.045 0 0 0 61.702 6.638 Q 61.407 6.647 61.207 6.715 A 0.78 0.78 0 0 0 60.999 6.818 Q 60.83 6.941 60.711 7.17 A 1.748 1.748 0 0 0 60.607 7.42 A 13.842 13.842 0 0 0 60.376 8.199 A 11.013 11.013 0 0 0 60.145 9.275 A 10.6 10.6 0 0 0 60.049 10.083 Q 60.006 10.607 60.005 11.184 A 15.991 15.991 0 0 0 60.005 11.2 Q 60.005 12.068 60.404 12.649 A 1.709 1.709 0 0 0 60.536 12.818 Z"
        id="9"
        vector-effect="non-scaling-stroke"></path>
      <path
        d="M 65.843 11.382 L 66.025 11.158 Q 66.795 10.206 67.187 9.59 A 8.791 8.791 0 0 0 67.344 9.31 Q 67.523 8.977 67.74 8.52 A 27.562 27.562 0 0 0 67.747 8.505 Q 68.069 7.826 68.377 7.098 Q 68.643 6.482 69.483 6.482 Q 69.875 6.482 70.029 6.552 Q 70.183 6.622 70.183 6.776 Q 70.183 6.84 70.151 6.96 A 2.362 2.362 0 0 1 70.127 7.042 Q 70.071 7.224 69.973 7.406 A 3.278 3.278 0 0 0 69.84 7.706 Q 69.721 8.02 69.721 8.26 Q 69.721 8.434 69.822 8.636 A 1.458 1.458 0 0 0 69.868 8.722 A 3.012 3.012 0 0 0 69.976 8.892 Q 70.103 9.079 70.296 9.318 A 10.206 10.206 0 0 0 70.323 9.352 A 13.504 13.504 0 0 1 70.606 9.736 Q 70.728 9.909 70.827 10.063 A 5.575 5.575 0 0 1 71.002 10.353 Q 71.233 10.766 71.233 11.256 A 1.861 1.861 0 0 1 71.232 11.333 Q 71.228 11.42 71.217 11.536 A 7.062 7.062 0 0 1 71.205 11.648 A 2.061 2.061 0 0 0 71.634 11.413 Q 72.044 11.126 72.525 10.58 A 10.274 10.274 0 0 0 72.815 10.234 A 0.667 0.667 0 0 1 72.933 10.125 A 0.439 0.439 0 0 1 73.193 10.038 A 0.312 0.312 0 0 1 73.438 10.149 A 0.443 0.443 0 0 1 73.48 10.206 A 0.613 0.613 0 0 1 73.549 10.367 Q 73.571 10.444 73.579 10.535 A 1.411 1.411 0 0 1 73.585 10.668 A 1.739 1.739 0 0 1 73.546 11.047 Q 73.484 11.329 73.319 11.536 A 6.816 6.816 0 0 1 72.888 12.025 Q 72.658 12.26 72.435 12.432 A 2.724 2.724 0 0 1 71.982 12.719 Q 71.345 13.034 70.407 13.062 Q 69.847 13.538 69.077 13.538 A 2.532 2.532 0 0 1 68.656 13.505 Q 68.429 13.467 68.248 13.384 A 1.174 1.174 0 0 1 67.964 13.202 A 1.319 1.319 0 0 1 67.745 12.961 A 0.888 0.888 0 0 1 67.579 12.446 A 0.859 0.859 0 0 1 67.837 11.825 A 1.092 1.092 0 0 1 67.845 11.816 Q 68.072 11.59 68.481 11.556 A 1.811 1.811 0 0 1 68.629 11.55 A 2.323 2.323 0 0 1 68.788 11.556 Q 68.872 11.562 68.968 11.573 A 4.409 4.409 0 0 1 69.056 11.585 A 25.597 25.597 0 0 0 69.171 11.601 Q 69.282 11.617 69.362 11.627 A 5.695 5.695 0 0 0 69.427 11.634 Q 69.413 11.27 69.266 10.948 Q 69.119 10.626 68.895 10.325 A 10.298 10.298 0 0 0 68.692 10.06 Q 68.58 9.919 68.475 9.8 A 11.867 11.867 0 0 1 68.124 10.425 Q 67.948 10.716 67.773 10.96 A 6.294 6.294 0 0 1 67.614 11.172 Q 67.187 11.718 66.683 12.208 A 1.03 1.03 0 0 1 66.508 12.351 Q 66.336 12.46 66.151 12.46 A 0.506 0.506 0 0 1 65.969 12.428 A 0.454 0.454 0 0 1 65.787 12.299 A 0.566 0.566 0 0 1 65.652 11.98 A 0.747 0.747 0 0 1 65.647 11.9 Q 65.647 11.62 65.843 11.382 Z"
        id="10"
        vector-effect="non-scaling-stroke"></path>
      <path
        d="M 79.591 8.862 Q 79.773 8.862 79.871 9.044 A 0.76 0.76 0 0 1 79.942 9.236 Q 79.962 9.323 79.967 9.424 A 1.479 1.479 0 0 1 79.969 9.506 Q 79.969 9.817 79.882 10.011 A 0.504 0.504 0 0 1 79.563 10.304 Q 78.723 10.598 77.715 10.64 A 3.992 3.992 0 0 1 77.352 11.64 A 3.209 3.209 0 0 1 76.665 12.523 A 2.775 2.775 0 0 1 75.805 13.063 A 2.527 2.527 0 0 1 74.887 13.23 Q 74.047 13.23 73.452 12.824 Q 72.857 12.418 72.549 11.746 A 3.437 3.437 0 0 1 72.242 10.351 A 3.958 3.958 0 0 1 72.241 10.29 A 4.765 4.765 0 0 1 72.354 9.232 A 3.86 3.86 0 0 1 72.647 8.393 Q 73.053 7.56 73.767 7.091 Q 74.481 6.622 75.349 6.622 A 2.494 2.494 0 0 1 76.167 6.751 A 2.097 2.097 0 0 1 77.064 7.357 Q 77.715 8.092 77.827 9.17 A 6.032 6.032 0 0 0 78.356 9.111 Q 78.827 9.039 79.395 8.89 A 1.105 1.105 0 0 1 79.475 8.873 Q 79.517 8.866 79.554 8.864 A 0.561 0.561 0 0 1 79.591 8.862 Z M 75.363 8.106 L 75.293 8.106 A 1.032 1.032 0 0 0 74.521 8.449 A 1.595 1.595 0 0 0 74.362 8.645 A 1.86 1.86 0 0 0 74.119 9.167 Q 73.991 9.59 73.991 10.164 A 3.158 3.158 0 0 0 74.02 10.605 Q 74.084 11.06 74.292 11.34 A 1.238 1.238 0 0 0 74.491 11.554 A 0.774 0.774 0 0 0 74.999 11.746 Q 75.447 11.746 75.776 11.382 A 1.513 1.513 0 0 0 76.026 10.994 Q 76.155 10.713 76.217 10.332 Q 75.783 10.038 75.552 9.562 Q 75.321 9.086 75.321 8.554 Q 75.321 8.33 75.363 8.106 Z"
        id="11"
        vector-effect="non-scaling-stroke"></path>
      <path
        d="M 84.316 10.149 A 0.312 0.312 0 0 0 84.071 10.038 A 0.439 0.439 0 0 0 83.811 10.125 A 0.667 0.667 0 0 0 83.693 10.234 A 15.971 15.971 0 0 1 83.474 10.49 Q 82.948 11.088 82.587 11.361 A 1.6 1.6 0 0 1 82.227 11.568 A 1.69 1.69 0 0 1 81.579 11.69 A 1.017 1.017 0 0 1 81.501 11.687 A 0.742 0.742 0 0 1 80.991 11.445 A 0.753 0.753 0 0 1 80.948 11.393 Q 80.758 11.143 80.669 10.626 A 24.226 24.226 0 0 0 81.594 9.275 A 20.272 20.272 0 0 0 83.175 6.272 A 15.62 15.62 0 0 0 83.541 5.32 Q 83.808 4.548 83.947 3.85 A 7.385 7.385 0 0 0 84.099 2.408 A 6.975 6.975 0 0 0 84.099 2.397 Q 84.097 1.243 83.714 0.623 A 1.633 1.633 0 0 0 83.56 0.412 A 1.143 1.143 0 0 0 82.657 0 A 1.762 1.762 0 0 0 81.638 0.328 Q 81.333 0.538 81.057 0.882 A 4.745 4.745 0 0 0 80.606 1.568 A 9.719 9.719 0 0 0 80.549 1.674 Q 80.124 2.471 79.805 3.423 A 15.822 15.822 0 0 0 79.304 5.32 A 27.86 27.86 0 0 0 79.189 5.925 Q 78.863 7.744 78.863 9.212 Q 78.863 10.212 79.052 11.004 A 4.631 4.631 0 0 0 79.458 12.11 Q 79.826 12.803 80.437 13.067 A 2.116 2.116 0 0 0 81.285 13.23 A 2.187 2.187 0 0 0 81.289 13.23 A 2.803 2.803 0 0 0 82.888 12.754 A 5.45 5.45 0 0 0 83.404 12.36 A 6.445 6.445 0 0 0 84.197 11.536 Q 84.463 11.228 84.463 10.668 A 1.411 1.411 0 0 0 84.457 10.535 Q 84.449 10.444 84.427 10.367 A 0.613 0.613 0 0 0 84.358 10.206 A 0.443 0.443 0 0 0 84.316 10.149 Z M 82.349 1.386 A 0.266 0.266 0 0 0 82.178 1.463 Q 81.923 1.686 81.621 2.548 A 13.62 13.62 0 0 0 81.331 3.499 Q 81.187 4.033 81.058 4.652 A 28.11 28.11 0 0 0 80.907 5.432 Q 80.599 7.154 80.571 8.736 A 18.722 18.722 0 0 0 81.812 6.327 A 16.366 16.366 0 0 0 82.153 5.453 Q 82.678 3.984 82.735 2.744 A 6.493 6.493 0 0 0 82.741 2.45 A 4.411 4.411 0 0 0 82.73 2.116 Q 82.674 1.386 82.349 1.386 Z"
        id="12"
        vector-effect="non-scaling-stroke"></path>
      <path
        d="M 84.253 13.122 A 1.929 1.929 0 0 0 84.911 13.23 A 1.893 1.893 0 0 0 86.281 12.648 A 3.171 3.171 0 0 0 86.745 12.054 A 2.334 2.334 0 0 0 86.888 12.377 A 1.78 1.78 0 0 0 87.326 12.915 A 1.638 1.638 0 0 0 87.387 12.963 A 1.291 1.291 0 0 0 88.173 13.23 A 1.54 1.54 0 0 0 88.46 13.203 Q 88.927 13.115 89.419 12.74 A 6.298 6.298 0 0 0 89.893 12.341 A 7.572 7.572 0 0 0 90.637 11.536 Q 90.903 11.228 90.903 10.668 A 1.411 1.411 0 0 0 90.897 10.535 Q 90.889 10.444 90.867 10.367 A 0.613 0.613 0 0 0 90.798 10.206 A 0.443 0.443 0 0 0 90.756 10.149 A 0.312 0.312 0 0 0 90.511 10.038 A 0.439 0.439 0 0 0 90.251 10.125 A 0.667 0.667 0 0 0 90.133 10.234 Q 89.489 11.004 89.111 11.347 Q 88.857 11.578 88.654 11.653 A 0.537 0.537 0 0 1 88.467 11.69 A 0.426 0.426 0 0 1 88.436 11.689 A 0.335 0.335 0 0 1 88.194 11.564 A 0.401 0.401 0 0 1 88.166 11.526 Q 88.089 11.408 88.089 11.228 A 2.671 2.671 0 0 1 88.09 11.183 Q 88.098 10.703 88.274 9.711 A 34.426 34.426 0 0 1 88.411 8.988 Q 88.582 8.09 88.614 7.727 A 1.632 1.632 0 0 0 88.621 7.588 A 0.679 0.679 0 0 0 88.621 7.568 Q 88.607 7.098 87.935 7.098 Q 87.613 7.098 87.319 7.154 A 2.287 2.287 0 0 0 87.296 7.06 Q 87.255 6.91 87.204 6.815 A 0.468 0.468 0 0 0 87.144 6.727 Q 87.039 6.608 86.731 6.608 Q 85.765 6.608 84.904 7.217 A 4.238 4.238 0 0 0 84.447 7.591 A 4.552 4.552 0 0 0 83.525 8.827 Q 83.007 9.828 83.007 10.948 A 3.978 3.978 0 0 0 83.008 10.998 Q 83.012 11.373 83.088 11.694 A 2.198 2.198 0 0 0 83.525 12.6 A 1.66 1.66 0 0 0 84.253 13.122 Z M 86.409 10.486 L 86.927 7.91 A 1.639 1.639 0 0 0 86.016 8.217 A 2.137 2.137 0 0 0 85.842 8.351 A 2.759 2.759 0 0 0 85.266 9.048 A 3.537 3.537 0 0 0 84.879 9.478 Q 84.585 10.178 84.585 10.962 A 1.726 1.726 0 0 0 84.599 11.189 Q 84.634 11.453 84.758 11.604 A 0.523 0.523 0 0 0 84.76 11.606 Q 84.935 11.816 85.243 11.816 A 0.563 0.563 0 0 0 85.54 11.728 Q 85.689 11.637 85.831 11.452 Q 86.111 11.088 86.409 10.486 Z"
        id="13"
        vector-effect="non-scaling-stroke"></path>
    </g>
  </svg>
</div>

<style>
  .signature-container svg path {
    fill: #60a5fa; /* Default state is blue */
    stroke: #60a5fa;
  }
  
  /* Google chrome */
  @-webkit-keyframes svg-text-anim {
    40% {
      stroke-dashoffset: 0;
      fill: transparent;
    }
    60% {
      stroke-dashoffset: 0;
      fill: #60a5fa;
    }
    100% {
      stroke-dashoffset: 0;
      fill: #60a5fa;
    }
  }
  /* Most browsers */
  @keyframes svg-text-anim {
    40% {
      stroke-dashoffset: 0;
      fill: transparent;
    }
    60% {
      stroke-dashoffset: 0;
      fill: #60a5fa;
    }
    100% {
      stroke-dashoffset: 0;
      fill: #60a5fa;
    }
  }
</style>

<script is:inline>
  function setTextAnimation(delay, duration, strokeWidth, timingFunction, strokeColor, repeat) {
    const signatureSvg = document.querySelector('.signature-container svg');
    const paths = signatureSvg.querySelectorAll('path');
    const mode = repeat ? 'infinite' : 'forwards';
    paths.forEach((path, i) => {
      const length = path.getTotalLength();
      path.style['stroke-dashoffset'] = `${length}px`;
      path.style['stroke-dasharray'] = `${length}px`;
      path.style['stroke-width'] = `${strokeWidth}px`;
      path.style['stroke'] = `${strokeColor}`;
      path.style['animation'] = `${duration}s svg-text-anim ${mode} ${timingFunction}`;
      path.style['animation-delay'] = `${i * delay}s`;
    });
  }

  // Create an Intersection Observer
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          console.log('Intersection detected');
          setTextAnimation(0.1, 1.4, 0.4, 'ease-in', '#60a5fa', false);
          // Unobserve after animation starts to prevent re-triggering
          observer.unobserve(entry.target);
        }
      });
    },
    {
      threshold: 0.1, // Trigger when at least 10% of the element is visible
    }
  );

  // Start observing the signature container
  const signatureContainer = document.querySelector('.signature-container');
  if (signatureContainer) {
    observer.observe(signatureContainer);
  }
</script>
