---
import { UI } from '~/utils/config';
import { Icon } from 'astro-icon/components';
import { twMerge } from 'tailwind-merge';

export interface Props {
  label?: string;
  class?: string;
  iconClass?: string;
  // iconName?: string;
}

const {
  label = 'Toggle theme',
  class:
    className = 'text-muted dark:text-gray-400 hover:bg-gray-300 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center',
  iconClass = 'w-6 h-6',
} = Astro.props;

// Get current path
const currentPath = Astro.url.pathname;
---

{
  !(UI.theme && UI.theme.endsWith(':only')) && currentPath !== '/non-academic' && (
    <div class="group relative">
      <button
        type="button"
        class={twMerge(className, 'dark:invisible dark:hidden')}
        aria-label={label}
        data-aw-toggle-color-scheme
        transition:persist
      >
        <Icon name={'tabler:sun'} class={iconClass} />
      </button>
      <button
        type="button"
        class={twMerge(className, 'invisible hidden dark:visible dark:block')}
        aria-label={label}
        data-aw-toggle-color-scheme
        transition:persist
      >
        <Icon name={'tabler:moon'} class={iconClass} />
      </button>
      <span class="absolute -bottom-10 left-1/2 -translate-x-1/2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-sm text-white opacity-0 transition-opacity delay-500 group-hover:opacity-100 dark:bg-gray-200 dark:text-gray-800">
        {label}
      </span>
    </div>
  )
}
